body {

    background: url("images/img17.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    

}

.h3 {
    font-family: 'Sofia';font-size: 22px;



}

.menubar {
    font-family: 'Times New Roman';font-size: 18px;

    
}
.p{
    font-family: 'Times New Roman';
    font-size: 18px;
}

.jumbotron {
    background-image: url("images/sunset.jpg");
    background-size: cover;
  }

    




