body {

    background: url("images/img25.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.h{
    font-family: 'Sofia';font-size: 22px;


}

  
