body {

    background: url("images/img17.c36362be46af.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.jumbotron {
    background-image: url("images/sunset.d19ee0be0a40.jpg");
    background-size: cover;
  }

    




