body {

    background: url("images/img17.c36362be46af.jpeg");
    
    
}
img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.jumbotron {
    background-image: url("images/sunset.d19ee0be0a40.jpg");
    background-size: cover;
  }