
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'RealTodo/style.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />



  
    
  <!--Navbar-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

      <!-- Navbar brand -->
     
      <!-- Collapse button -->

      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
    
      <!-- Collapsible content -->
      <!--<div class="collapse navbar-collapse" id="basicExampleNav">-->
    
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'AboutUs' %}">AboutUs</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'Details' %}">Details</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'Pricing' %}">Pricing</a>
            </li>

            

            <form class="form-inline">
                <div class="md-form my-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
        
              </form>

              
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
              <button onclick="window.location.href = '/accounts/logout';" class="btn btn-outline-info">Log Out</button>
            </li>
            <li class="nav-item">

              <button onclick="window.location.href = '/accounts/login';" class="btn btn-outline-info">Log in</button>
            </li>
            <li class="nav-item">

              <button onclick="window.location.href = '/accounts/signup';" class="btn btn-outline-info">Signup</button>

          </ul>

    
          <!-- Dropdown -->
          
          
          
    
        <!-- Links -->
    
        
      <!--</div>-->
              <!-- Collapsible content -->
    
    </nav>
    <!--/.Navbar-->
    
    <div class="jumbotron">
        <h1 class="display-4">Hotels Inn!</h1>
        <p class="lead">Welcome to Hotels Inn, you can get maximum benifits and features.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url 'AboutUs' %}" role="button">Learn more</a>
        </p>
      </div>

      

      

<head>

<title>Hotel booking App</title>

</head>

<body>
  <div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">
      <h1  class="text-center" style="color: black;"><b>HOTEL BOOKING </b></h1>
      {% block main %}
      {% endblock %}
      </div>
    </div>
  </div>
</body>

<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->